.team-bottom {
  background-color: #5036E6;
  width: 100%;
  position: relative;
  z-index: 0;
  padding-bottom: 60px;
}

@media screen and (min-width: 320px) and (max-width: 670px){
  .team-bottom {
    padding: 0;
  }
}
