@use 'mixins' as *;

.content__mobile-info {
  display: none;
  width: 100%;
  margin-bottom: 50px;
}

@media screen and (min-width: 320px) and (max-width: 670px){
  .content__mobile-info {
    @include flex-center-between;
  }

  .content__mobile-info .content__container-info {
    display: block;
    margin: 0;
  }
}
