@use 'mixins' as *;

.team-top__players-card {
  @include flex-start-column-between;
  max-width: 320px;
  min-height: 415px;
}

@media screen and (min-width: 320px) and (max-width: 670px){
  .team-top__players-card {
    @include flex-center-column;
    max-width: 280px;
    min-height: 344px;
    gap: 20px;
  }
}
