@font-face {
  src: url("./ttf/NotoSans-Regular.ttf") format("truetype");
  font-family: 'NotoSans';
  font-weight: 400;
}

@font-face {
  src: url("./ttf/NotoSans-Bold.ttf") format("truetype");
  font-family: 'NotoSans';
  font-weight: 600;
}


