@use 'mixins' as *;

.team-bottom__content {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 440px;
  @include flex-start;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 670px){
  .team-bottom__content {
    display: none;
  }
}
