.team-bottom__content-info {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

@media screen and (max-width: 920px) {
  .team-bottom__content-info {
    left: 50%;
  }
}
