@use 'mixins' as *;

.team-top__players {
  @include max-container(1120px);
  @include flex-start;
  overflow-x: scroll;
  gap: 80px;
  padding: 110px 0 140px 0;
}

.team-top__players::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 920px) {
  .team-top__players {
    @include max-container(668px);
    gap: 26px;
  }
}

@media screen and (min-width: 320px) and (max-width: 670px){
  .team-top__players {
    padding: 60px 0 30px 0;
    @include max-container(280px);
    gap: 10px;
  }
}
