.team-top__players-card-name {
  margin: 0;
  font-size: 22px;
  line-height: 28.6px;
  letter-spacing: 1.21px;
  text-transform: uppercase;
}

@media screen and (min-width: 320px) and (max-width: 670px){
  .team-top__players-card-name {
    font-size: 18px;
    line-height: 23.4px;
    letter-spacing: 0.99px;
    font-weight: 400;
  }
}
