.team-top__players-card-description {
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 670px){
  .team-top__players-card-description {
    font-size: 12px;
    line-height: 15.6px;
  }
}
