.chessboard__block {
  width: 26px;
  height: 26px;
  background-color: #fff;
}

@media screen and (min-width: 320px) and (max-width: 670px){
  .chessboard__block {
    width: 17.5px;
    height: 17.5px;
  }
}

.chessboard__block:hover {
  transform: scale(1.2);
}
